<div id="conocenos">
  <div class="bg"></div>
  <div class="content-container">
    <div class="header">
    <h2 class="title">QUIÉNES SOMOS</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, error impedit quia esse earum optio incidunt dolor? Laborum, neque repellendus..</p>
    </div>
    <div class="cards">
    <div class="card">
      <div class="card__header">
      <i class="fas fa-phone"></i>
      <span>Teléfono</span>
      </div>
      <span class="card__data">3159494</span>
    </div>
    <div class="card">
      <div class="card__header">
      <i class="fas fa-map-marker-alt"></i>
      <span>Ubicación</span>
      </div>
      <span class="card__data">cll 58 # 19 - 36 Edif. Lorem, ipsum. <br>Ofi. xxx <br>
      Lorem, ipsum dolor.</span>
    </div>
    <div class="card">
      <div class="card__header">
      <i class="fas fa-envelope-open"></i>
      <span>Email</span>
      </div>
      <span class="card__data">Loremipsum@correo.com</span>
    </div>
    <div class="card">
      <div class="card__header">
      <i class="fas fa-share-alt"></i>
      <span>Redes Sociales</span>
      </div>
      <div class="social__networks">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      </div>
    </div>
    </div>
  </div>
</div>